* {
  overflow: auto !important;
}

.saved {
  margin: 0 auto !important;
}
.list {
  /* position: relative; */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  max-width: 90%;
  max-height: 20% !important;
  height: 700px !important;
  margin: 0 auto !important;
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 0 !important;
  max-width: 90%;
  height: 100%;
  overflow: hidden !important;
}

.likedImage {
  margin: 10px auto !important;
  display: flex;
  padding: 0;
  max-width: 90%;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  /* box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.5); */
}

.movieInfo {
  color: white;
  background: rgb(0, 0, 0);
  overflow: hidden;
  /* z-index: 2; */
  position: absolute;
  max-width: 90%;
  height: 100px;
  line-height: 100%;
  margin: 0 auto;
  bottom: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20pt;
}

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1201;
} */
