html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #f0f0f0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .carddiv{
  margin: 0 auto;
  width: 100%;
  height: 100%;
} */
.c {
  position: relative;
  width: 50%;
  height: 100%;
  cursor: pointer;
  will-change: transform, opacity;
}
.front {
  position: absolute;
  top: 15%;
  left: 40%;
  background: center;
  max-width: 30em;
  max-height: 45em;
  background-size: cover;
}
.back { 
  position: fixed;
  top: 20%;
  left: 30%;
  object-fit: contain;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}



.movieInfo{
color: white;
background: rgb(0, 0, 0);
overflow-y: auto;
z-index: 2;
position: absolute;
width: 100%;
padding: 5px 5px 5px 5px;
bottom: 43%;
left: 0;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
